* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  min-width: 1400px;
}


/* classi utility */
.pstyle {
  line-height: 1.8em;
  font-size: 15px;
}
.rounded {
  border-radius: 5px;
}
.shad {
  box-shadow: 0 0 4px lightgrey;
}
.lm-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 1.5em 2.5em;
  border-radius: 5px;
  color: #fff;
  background-color: #FE775A;
}
.bot-border {
  border-bottom: 1px solid #fff;
}
.rig-border {
  border-right: 1px solid #fff;
}
.foot-link-style {
  text-decoration: none;
  color: #CBD6E2;
}
a.lm-btn:hover {
  background-color: #ffbcac;
}
/* /classi utility */


/* header */
.nav-top, .nav-principal, .header-bottom {
  height: 80px;
}

/* nav-top */
.nav-top {
  background-color: #F4F9FD;
  padding: 0 15%;
  border-bottom: 1px solid #33475B;
  position: relative;
}
.nav-top .left-menu, .nav-top .right-menu {
  width: 50%;
  float: left;
}
.nav-top .left-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-top .left-menu a {
  text-decoration: none;
  color: #33475B;
}
.nav-top .left-menu a:hover {
  text-decoration: underline;
  color: #0EAAC1;
}
.nav-top .right-menu {
  text-align: right;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
#inline-divider {
  border: 1px solid #33475B;
  margin: 0 15px;
}
.nav-top .right-menu i {
  color: #0EAAC1;
}
.nav-top .right-menu .btn {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: .8em;
  border-radius: 5px;
}
.nav-top .right-menu a.nobg {
  color: #FE775A;
  border: 1px solid #FE775A;
}
.nav-top .right-menu a.bg-or {
  color: #fff;
  background-color: #FE775A;
  margin-right: 0;
}
.nav-top .right-menu a.bg-or:hover {
  background-color: #ffbcac;
}
.nav-top .right-menu > * {
  margin: 0 10px;
}

/* nav-principal */
.nav-principal {
  padding: 0 15%;
}
.nav-principal > div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
.nav-principal .inline-menu li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
.nav-principal .inline-menu a {
  text-decoration: none;
  color: #33475B;
}
.nav-principal .inline-menu a:hover {
  font-weight: 700;
}
.nav-principal .inline-menu li span {
  padding-right: 10px;
}
.nav-principal .logo-block img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav-principal .inline-menu ul {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* banner */
.banner {
  height: 610px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: 130% 33%;
}
.banner .title-box {
  margin-left: 15%;
  padding-top: 30px;
  width: 560px;
}
.banner .title-box h1 {
  font-size: 50px;
  padding: 15px 0;
}
.banner .title-box p {
  line-height: 2em;
  padding: 10px 0;
}
.banner .title-box a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 1.5em 2.5em;
  border-radius: 5px;
  color: #fff;
  background-color: #FE775A;
  margin: 15px 0;
}
.banner .title-box a:hover {
  background-color: #ffbcac;
}
.banner .title-box h5 {
  font-weight: normal;
  font-size: 12px;
  padding: 15px 0;
}

/* header-bottom */
.header-bottom {
  background-color: #AFEBE4;
  border: 0 2px;
  border-style: solid;
  border-color: #33475B;
}
/* /header */


/* main */
main {
  background-color: #F4F9FD;
}

/* services */
/* claim-title */
.claim-title {
  text-align: center;
  padding: 40px 150px;
  margin: 0 15%;
}
.claim-title img {
  height: 180px;
}
.claim-title h2 {
 font-size: 32px;
}
.claim-title p {
  margin-top: 25px;
}

/* CRM */
.CRM {
  margin: 0 15%;
  background-color: #fff;
  margin-bottom: 40px;
}
.CRM::after {
  content: "";
  display: table;
  clear: both;
}
.book-image, .crm-text {
  float: left;
  height: 290px;
}
.book-image {
  width: 32%;
  text-align: center;
  position: relative;
}
.crm-text {
  width: 58%;
}
.book-image img {
  width: 60%;
  padding-bottom: 20px;
}
.book-image .centered {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.crm-text {
  width: 58%;
  position: relative;
}
.crm-text h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.popolar-row > * {
  display: inline-block;
}
.popolar-row {
  position: relative;
  margin: 15px 0 25px 0;
}
.popolar-row > hr {
  border: 1px solid gray;
  width: 69%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.crm-text ul li {
  list-style: none;
  display: inline-block;
  padding-right: 16px;
}
.crm-text ul li i, .hubs .service-card ul li i {
  color: #FE775A;
  padding-right: 8px;
}
.crm-text .centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* /CRM */

/* Hubs */
.hubs {
  margin: 0 15%;
  padding-bottom: 40px;
}
.hubs::after{
  content: "";
  display: table;
  clear: both;
}
.hubs .service-card {
  width: calc((100% - 80px) / 3);
  text-align: center;
  padding: 20px 32px;
  background-color: #fff;
  float: left;
}
.hubs .service-card img {
  height: 100px;
}
.hubs .service-card h3 {
  font-size: 24px;
  margin-top: 17px;
  margin-bottom: 25px;
}
.hubs .service-card p {
  border-bottom: 2px solid grey;
  padding-bottom: 50px;
  margin-bottom: 35px;
}
.hubs .service-card h4 {
  font-size: 17px;
  margin-bottom: 23px;
}
.hubs .service-card ul li {
  list-style: none;
  text-align: left;
  font-size: 15px;
}
.hubs .service-card ul {
  margin-bottom: 35px;
}
.service-card.sales {
  margin: 0 40px;
}
/* /Hubs */
/* /services */


/* statistics */
.statistics {
  background-color: #01B7AB;
  padding: 0 15%;
  color: #fff;
  text-align: center;
}
.statistics h2 {
  font-size: 32px;
  padding: 40px 0 25px;
}
.grid {
  width: 100%;
  padding: 40px 0 80px;
}
.grid::after {
  content: "";
  display: table;
  clear: both;
}
.numbers-cell {
  width: calc(100% / 4);
  float: left;
}
.numbers-cell img {
  height: 63px;
  padding: 15px;
}
.numbers-cell span {
  display: inline-block;
}
span.big-number {
  padding-bottom: 10px;
}
span.big-number > strong {
  font-size: 36px;
  vertical-align: middle;
}
span.big-number > span.plus-sign {
  font-size: 24px;
  vertical-align: middle;
}
.numbers-cell > span.big-number-label {
  font-size: 12px;
  padding-bottom: 22px;
}
/* /statistics */


/* customers */
.customers {
  padding: 0 15%;
  background-color: #fff;
}
.customers .brands-row {
  padding: 45px 80px;

}
.customers .brands-row::after {
  content: "";
  display: table;
  clear: both;
}
.customers .brands-row .left-content {
  width: 40%;
  float: left;
  padding-right: 152px;
}
.customers .brands-row .left-content h2 {
  font-size: 45px;
  margin-bottom: 25px;
}
.customers .brands-row .right-content {
  width: 60%;
  float: left;
}
.logo-grid li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
}
.logo-grid li img {
  width: 120px;
}
.get-started-row {
  position: relative;
}
.get-started-row h2 {
  font-size: 32px;
  margin: 35px 0;
}
.get-started-row h2, .get-started-row p {
  width: 44%;
}
.get-started-row a.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 1.5em 2.5em;
  border-radius: 5px;
  color: #fff;
  background-color: #FE775A;
  margin: 35px 0;
}
.get-started-row a.btn:hover {
  background-color: #ffbcac;
}
.get-started-row h5 {
  font-weight: normal;
  font-size: 12px;
  padding: 15px 0;
  margin-bottom: 35px;
}
.get-started-row img {
  height: 350px;
  position: absolute;
  right: 0;
  top: -40px;
}
/* /customers */

/* /main */


/* footer */
footer {
  padding: 35px 15%;
  background-color: #32495B;
  color: #CBD6E2;
}
.top-footer::after {
  content: "";
  display: table;
  clear: both;
}
.service-list {
  width: calc(100% / 4);
  float: left;
}
.top-footer .service-list > h4 {
  color: #fff;
  margin-bottom: 20px;
}
.top-footer .service-list ul li {
  font-size: 15px;
  list-style: none;
  margin: 18px 0;
}
.top-footer .service-list ul li a:hover, .languages-row ul li a:hover, ul.legal li a:hover {
  text-decoration: underline;
  color: #0091ae;
}
.service-list ul li > a.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  background-color: #CBD6E2;
  color: #32495B;
  padding: 10px;
}
.service-list ul li > a.btn:hover {
  color: #32495B;
  background-color: rgba(203, 214, 226, 0.8);
  text-decoration: none;
}
.service-list ul li i {
  margin-right: 20px;
}
.bottom-footer {
  padding: 40px 0;
}
.languages-row {
  text-align: center;
  border-bottom: 1px solid #CBD6E2;
  padding-bottom: 8px;
}
.languages-row ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
}
.very-bottom-row {
  position: relative;
  margin-bottom: 10px;
}
.very-bottom-row img {
  width: 100px;
}
.very-bottom-row .credits {
  color: #fff;
}
ul.legal li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
ul.legal {
  position: absolute;
  right: 0;
  top: 0;
}
/* /footer */
